@use "../../common/mixins" as *;

///////////////////////////////////////////////
/// ///////// TOP - LINE ///////////////////////

.top-line {
  height: 50px;
  @include format-flex-center;
}
.top-line-nav {
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mini-tablet {
      justify-content: space-around;
    }
  }
  &__item {
    &:last-child {
      display: none;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }

    @include mini-tablet {
      &:last-child {
        display: flex;
        align-items: center;
      }

      &:not(:last-child) {
        margin: 0;
      }
    }
  }
  &__link {
    color: var(--color-link);
    font-size: 14px;
    line-height: 1.2;

    &:hover {
      opacity: 0.6;
    }
    @include mobile {
      font-size: 12px;
    }
  }
}
///////////////////////////////////////////////
/// ///////// HEADER ///////////////////////
.header-logo {
  background: var(--color-background-white);
}
.header-inner {
  width: 100%;
  padding: 20px 20px;

  @include format-flex-space-between;

  &__logo {
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
  &__call {
    border: 2px solid var(--color-primary);
    border-radius: 40px;
    padding: 5px 40px;
    margin-left: 40px;

    &:hover {
      background-color: var(--color-background-gray);
    }
    @include tablet {
      padding: 5px 20px;
      margin-right: 10px;
    }
    @include mobile {
      padding: 5px 20px;
      margin-right: 5px;
    }
  }

  &__tel {
    @include format-flex-space-between;
    a {
      font-size: 14px;
      color: var(--color-link-primary);
    }
    &__number {
      @include mini-tablet {
        display: none;
      }
    }
    @include mini-tablet {
      display: none;
    }
  }
  &__contact {
    @include mini-tablet {
      display: none;
    }
  }
}
// ///////////////////////////////////////////////
// Menu header

.header-nav {
  @include format-flex-center;
  background: var(--color-background-white);
  padding: 30px 0;
  border-top: 1px solid #efefef;

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__items {
    @include format-flex-space-between;
  }

  &__link {
    font-size: 1rem;
    color: var(--color-link);

    &:hover {
      opacity: 0.6;
    }
  }
}
