@use "../../common/mixins" as *;

.wrap-brands {
  @include format-flex-center;
  width: 100%;
  background-color: var(--color-background-white);

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
}

.wrap-brands {
  height: 100%;
  width: 100%;

  background-color: #e5e5e5;
  margin-top: 100px;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  text-align: center;

  @include tablet {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
  @include mobile {
    margin-top: 20px;
  }
  &__img {
    background-color: var(--color-background-white);
    & img {
      width: 149px;
      height: 49px;

      @include mobile {
        width: 106px;
        height: 35px;
        text-align: center;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-background-gray);
    }
  }
}
.wrap-brands > div {
  width: 100%;

  padding: 35px 60px;

  @media screen and (max-width: 1024px) {
    padding: 10px 0;
  }
}
